{% extends "base.html" %}
{% block title %}DETALLE DE RESPUESTAS{% endblock title %}
{% block css1 %}<link href="/static/css/form.css" type="text/css" rel="stylesheet">{% endblock css1 %}
{% block css2 %}<link href="/static/css/perfilusuario.css" type="text/css" rel="stylesheet">{% endblock css2 %}
{% block aux %}
<li><a href="/respuestas/addRespuestas_Opcionales/">Crear respuestas</a></li>
<li><a href="/respuestas/verrespuestas/">Ver respuestas</a></li>
<li><a href="/respuestas/detallesrespuestas/">Detalles por respuestas</a></li>
<li><a href="/respuestas/preguntasrespuesta/">Eliminar respuesta</a></li>
<li><a href="/respuestas/controlarrespuestas/">Controlar de respuestas</a></li>
{% endblock aux %}
{% block encabezado %}DETALLE DE RESPUESTAS{% endblock encabezado %}
{% block container %}
<ol>
{% for i in lista %}
<li><a href="/blog/ver_detalle_respuestas/{{i.id}}">{{i.enunciado}}</a></li>
{% endfor %}
</ol>
{% endblock %}
	