{%extends "base.html"%}

<h1 align="center">Bienvenido!!! {{nombre}}</h1>

{% block title %}
        <title>Cambiar contraseña</title>
{% endblock %}

{% block container %}
    {% include "includes/header.html" %}
    <style type="text/css">
    .row{
       /* border: 1px solid #045; */
        width: 60%;
        margin-left: 100px;
    }
    </style>
    <div class="container">
        <div class="row">
            <div class="col-xs-10">
            <form action="" method="post">
            {% csrf_token %}
                {{ formulario.as_p }}
                <input type="submit" value="Cambiar">
            </form>
            </div>
        </div>
    </div>
    {% include "includes/footer.html" %}
{%endblock%}