{%extends "base.html"%}
{%block container%}
<h1>Bienvenido!!! {{nombre}}</h1>

{% block title %}
        <title>Perfil</title>
{% endblock %}

{% block content %}
    {% include "includes/header.html" %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
            <h2>{{ user.get_full_name }}</h2><br>
            <h2>Pais : {{user.perfil.pais }}</h2>
            <img src="/media/{{ user.perfil.avatar}}" alt="avatar">

            <a href="/blog/perfil/agregar/" class="btn btn-primary">Editar perfil</a>
            </div>
        </div>
    </div>
    {% include "includes/footer.html" %}
{% endblock %}
{%endblock%}