      		body {
        		padding-top: 60px;
        		padding-bottom: 40px;
      		}
          #animacion{
            width: 100%;
            height: 30px;
            background-color: #9999FF;
          }
          #animacion h4{
            color: #3333FF;
          }
          .hero-unit{
            border-radius: 50px;
          }
          .hero-unit h2{
            text-align: center;
          }
          .hero-unit h2:hover{
          color: #333399;
          }

          #menuIzquierdo{
          /*  border: 1px solid #045; este es el color del borde del formulario*/
          border-radius: 10px;
            height: 460px;
          }

          #menuIzquierdo ul{
                list-style: none;
                margin-left:  0px;
              }
           #menuIzquierdo ul li{
                height: 25px;
                margin-bottom: 10px;
                margin-top: 5px;
                font-family: tahoma;
                font-size: 15px;
                background-color: #99FFFF;
                width: 100%;
                text-align: center;
                border-radius: 0px 10px 10px 0px;
                padding-left: 10px; 
                box-shadow:3px 3px #3366FF;
                -webkit-transition:padding-left 1s;
              }
           #menuIzquierdo ul li:hover{
                padding-left:30px; 
              }
             #menuIzquierdo ul ul li a{
                text-decoration: none;
              } 
               #menuIzquierdo ul ul li a:hover{
                color: #333399;
              }
               #menuIzquierdo ul ul li:hover{
                
              }