input {
	margin-bottom: 10px;
	width: 25%;
	padding: 10px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	border:1px solid #000000;
}
input:focus {
	border:1px solid #1668C4;
}
input[type="submit"]{
	margin-bottom: 0;
	background: #1668C4;
	color:#fff;
	border: none;
}
input[type="submit"]:hover{
	background: #4A88F4;
	cursor:pointer;
}