  #formEditar{
        background-color: #00CCFF;/*aki pones el color del formulario*/
        color: #123;/*este es el color de las letras*/
        width: 50%;
        float: left;
        margin-left: 25px;
        border-radius: 20px;
    }

    #formEditar div label{
        height: 50px;
        margin-left: 0px;
        display: inline-block;
        width: 200px;
        margin-bottom: 0px;

    }
    #formEditar .col-xs-12{
         width: 90%;
         margin: auto;
         text-align: right;
         margin-bottom: 20px
    }
      .form-group {
        margin: auto;
    }
    label{
        margin-left: 20px;
    }
    .form-group button{
        width: 30%;
        text-align: center;
        margin: auto;
    }
    #nodificar{
        width: 200px;
        margin: auto;
        margin-left: 200px
    }