{% extends "base.html" %}
{%block title%}
		<title>Registro de Categorias</title>
{%endblock%}
{% block container %}
	{% if estado %}
		<div class="alert alert-success" role="alert">se ha registrado la categoria</div>
	{% endif %}

	<div class="span7">
	<div class="well">
		<h2 class="text-center">Crear Nueva Categoria</h2>
		<img src="/static/img/form/mariposas para primavera, butterfly (2).gif" border="100" width="100" height="100">
		<form class="form-horizontal text-center center-block" id="registerForm" action="" method="post">
		<legend>{{ title }}</legend>
			{{formulario.as_p}}
			{% csrf_token %}
			<input type="submit" name="benviar" value="registrar">
		</form>
		<div>
			<ol>
				{% for i in categoria %}
					<li><a href="/categorias/{{i.id}}/">{{i.nombre}}</a></li>
					{% empty %}
					<h3>No existe categoria</h3>
				{% endfor %}
			</ol>
		</div>
	</div>
	</div>
{%endblock%}