{% extends "base.html" %}
{% block title %}DETALLE DE PREGUNTAS{% endblock title %}
{% block css1 %}<link href="/static/css/form.css" type="text/css" rel="stylesheet">{% endblock css1 %}
{% block css2 %}<link href="/static/css/perfilusuario.css" type="text/css" rel="stylesheet">{% endblock css2 %}
{% block aux %}
<li><a href="/blog/crearpreguntas/">Crear preguntas</a></li>
<li><a href="/blog/verpreguntas/">Ver preguntas</a></li>
<li><a href="/blog/detallespreguntas/">Detalles por pregunta</a></li>
<li><a href="/blog/preguntaseliminar/">Eliminar pregunta</a></li>
<li><a href="/blog/controlarpreguntas/">Controlar de preguntas</a></li>
{% endblock aux %}
{% block encabezado %}DETALLE DE PREGUNTAS{% endblock encabezado %}
{% block container %}
<ol>
{% for i in lista %}
<li><a href="/blog/ver_detalle_pregunta/{{i.id}}">{{i.enunciado}}</a></li>
{% endfor %}
</ol>
{% endblock %}
	





{% extends "base.html" %}

{% block title %}
	<title>Pregunta detalle</title>
{% endblock %}
{% block content %}
	<h2>{{pregunta.asunto}}</h2>
	<p><a href="{% url "pregunta_editar" pregunta.id %}">Editar esta pregunta</a></p>
	<p><b>publicado</b>{{pregunta.fecha_publicado|date:"D. d/m/Y"</p>
	<p>
	{% if pregunta.descripcion %}
		{{pregunta.descripcion}}
	{% else %}
		no se ha incluido descripcion
	{% endif %}
	</p>
	<h3>Respuestas</h3>
	<ul>
		{% for respuestas is pregunta.respuesta_set.all %}
			<li>{{respuestas.contenido|safe}}</li>
		{% empty %}
			<li>aun no hay respuestas</li>
		{% endfor %}
	</ul>
{% endblock %}