{%extends "base.html"%}
{%block title%}
		<title>Triviador</title>
		<style type="text/css">
		#ts{
			width: 40%;
			height: 300px;
			float: left;
			margin-top: 10px;
			margin-left: 10px;
			border-radius: 20px;
			background-color: #00CCFF;
			color: #123456;

		}
		#formm{
			color: #fff;
			background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
			background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
			background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
			background-image: -o-linear-gradient(top, #0088cc, #0044cc);
			background-image: linear-gradient(to bottom, #0000FF, #0000FF);
			background-repeat: repeat-x;
			border-color: #0044cc #0044cc #002a80;

			border-radius: 10px;
		}
		</style>
{%endblock%}
{% block css1 %}<link href="/static/css/form.css" type="text/css" rel="stylesheet">{% endblock css1 %}
{%block container%}
	{% if not user.is_anonymous %}
		{% for i in lista %}

			<table class="normal" HEIGHT="500" id="ts">
				<tr><th>TITULO DE LA PARTIDA:</th><th>{{ i.titulo }}</th></tr>
				<tr><th>JUGADORES:</th><th>{{ i.jugadores }}</th></tr>
				<tr><th>PREGUNTAS:</th><th>{{ i.preguntas }}</th></tr>
				<tr><th>TIEMPO POR PREGUNTA:</th><th>{{ i.tiempo_respuesta }} segundos</th></tr>
				<tr><th>CATEGORIAS:</th><th>{% for i in i.seleccionar_categoria.all %}<table><tr>{{ i.nombre }}<br></tr>{% endfor %}</table></th></tr>
				<tr><th>CREADO POR:</th><th>{{ i.usuario }}</th></tr>
				<tr><td COLSPAN="2" ALIGN="center"><form><input type="submit" value="ENTRAR" id="formm" align="center"></form></td></tr>
			</table>
		{% endfor %}
	{% endif %}

{%endblock%}