{% extends "base.html" %}
{%block title%}
		<title>Registro de Respuestas Opcionales</title>
{%endblock%}
{% block container %}
	<div class="span7">
	<div class="well">
		<h2 class="text-center">Registrar Nueva Respuesta</h2>
		<img src="/static/img/form/mariposas para primavera, butterfly (2).gif" border="100" width="100" height="100">
		<form class="form-horizontal text-center center-block" id="registerForm" action="" method="post">
			{{form.as_ul}}
			{% csrf_token %}
			<br>
			<button type="submit" class="btn btn-primary">Aceptar</button>
		</form>

	</div>
	</div>
{%endblock%}