{% extends "base.html" %}
{% block title %}{% endblock title %}
{% block css1 %}<link href="/static/css/form.css" type="text/css" rel="stylesheet">{% endblock css1 %}	
{% block css2 %}<link href="/static/css/perfilusuario.css" type="text/css" rel="stylesheet">{% endblock css2 %}
{% block aux %}
	<li><a href="/blog/addpregunta/">Crear preguntas</a></li>
	<li><a href="/blog/verpreguntas/">Ver preguntas</a></li>
	<li><a href="/blog/detallepreguntas/">Detalles por pregunta</a></li>
	<li><a href="/blog/preguntaseliminar/">Eliminar pregunta</a></li>
	<li><a href="/blog/controlarpregunta/">Controlar preguntas</a></li>
{% endblock aux %}
{% block encabezado %}LISTA DE PREGUNTAS{% endblock encabezado %}
{%block container%}
<div class="span7">
	<div class="well">
		<h2 class="text-center">Lista de Preguntas y Respuesta</h2>
		<img src="/static/img/form/mariposas para primavera, butterfly (2).gif" border="100" width="100" height="100">
			<form class="form-horizontal center-block" id="registerForm" action="" method="post">
			<legend>{{ title }}</legend>
				{% for i in lista %}
					{{i.id}}.-{{i.Titulo}}
					<a href="/blog/modificar/{{i.id}}/">Modificar</a>
					<ol id="lista">
						{% for j in lista2 %}
							{% if i.id == j.pregunta.id %}
								<li>{{j.resp1}}</li>
								<li>{{j.resp2}}</li>
								<li>{{j.resp3}}</li>
							{% endif %}
						{% endfor %}
					</ol>	
					RESPUESTA: {{i.respuesta}}<br><br>
				{% endfor %}
			</form>
	</div>
</div>

{% endblock %}
	